h1{
    color: aqua;
    font-size: 60px;
}
.container{
    width: 95%;
    height: 400px;
    border-top-color:lightgrey;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-bottom-color: lightgray;
    padding: 20px;

}
.left{
    background-image: url(../image/bg.jpg);
    background-attachment: static;
    float: left;
    width: 45%;
    height: 300px;
}
.right{
    margin: 10px;
    float: right;
    width: 50%;
    height: 250px;  
}

.border{
    border-radius: 25px;
    background-color: indianred;
    font-size: 20px;
    height: 40px;
    text-align: center;
    float: right;
    margin-right: 8px;
    width: 20%;
}
.font{
    color: indianred;
    font-weight: bold;
    height: 40px;
    float: right;
    font-size: 30px;
    width: 35%;
}
.box{
    width: 95%;
    margin-top: 15px;
}
.col1{
    display: inline;
    float: left;
    width: 50%;
}

div img{
    height: 250px;
    width: 22%;
    float: left;
}
.left2{
    height: 140px;
    width: 48%;
    float: left;
    margin: 15px;
}
.col2{
    display: inline;
    float: left;
    width: 50%;
}

right1{
    height: 200px;
    width: 22%;
    float: right;
}
.right2{
    height: 150px;
    width: 48%;
    float: left;
    margin: 10px;

}
